.board {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
}

@media only screen and (max-width: 600px) {
    .board {
        grid-template-columns: repeat(auto-fill, 100px);
    }
    
  }
  